@import "tailwindcss";

@theme inline {
  --color-foreground: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #0b0b0e;
  color: #ffffff;
}
